body{
    margin: 0;
    width: 100%;
    height: 100%;
    line-height: 100%;
    text-align: center;
}

.content{
    position: absolute;
    width: 500px;
    height:500px;
    background-color: #858585;
    border: 2px solid darkblue;
}

.round{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #cc66cc;
    border: 2px solid coral;
    border-radius: 180px;
}

.round.left-top{
    float: left;
    top: 0;
}
.round.right-bottom{
    float: right;
    bottom: 0;
}